* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  padding: 10px;
  background-color: white;
  /* background-image: linear-gradient(rgb(0, 53, 78), rgb(0, 99, 145)); */
  border-bottom: 1px solid lightgray;
}

.header-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  display: flex;
  align-items: center;
}

.header-logo-container {
  margin-left: 20px;
  margin-right: 20px;
}

.logo-link {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 60px;
  height: 60px;
}

.header-logo:hover {
  animation: logo-spin infinite 3s ease-in-out;
}

@keyframes logo-spin {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(-180deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.2) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

.header-logo-container span {
  font-size: 18px;
}

.header-nav {
  width: 100%;
}

.header-ul {
  float: right;
}

.header-ul li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
}

.nav-link {
  transition-property: color, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;

  color: darkcyan;
  text-decoration: none;
  padding: 8px 20px 10px;
  border-radius: 0.25rem;
}

.nav-link:hover {
  color: black;
  background-color: lightgray;
}
